/*********************************************************
 * Colors and such!
 */
@dark1: #385E0F; 
@dark1: #262626; 
@dark2: #262626;
@darkC: #EAF2D9;
body {
	background-color: #000;
	font-family: 'Georgia',serif;
	font-size: 18px;
	line-height: 26px;
}
.main section.dark {
	background-color: @dark1;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
	p {
		color: @darkC;
		text-shadow: 0 -1px 1px @dark1;
	}
}
.main section.dark2 {
	background-color: @dark2;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
	p {
		color: @darkC;
		text-shadow: 0 -1px 1px @dark2;
	}
}
.main div.dark {
	background-color: @dark1;
}
.main div.dark2 {
	background-color: @dark2;
}
div.headerdark {
	background-color: @dark1;
}
div.menudark {
	background-color: #CDBE70;
	background-color: #444;
}
div.menu {
	ul {
		list-style-type: none;

		li {
			float: left;
			margin-right: 10px;
			margin-left: 10px;
			padding-left: 5px;
			padding-right: 5px;
			color: @darkC;
		}
	}
}
/********************************************************/
.grid_1() { width:68px; }
.grid_2() { width:160px; }
.grid_3() { width:252px; }
.grid_4() { width:344px; }
.grid_5() { width:436px; }
.grid_6() { width:528px; }
.grid_7() { width:620px; }
.grid_8() { width:712px; }
.grid_9() { width:804px; }
.grid_10() { width:896px; }

.column() {
	margin: 0 12px;
	overflow: hidden;
	float: left;
	display: inline;
}
.row {
	width: 920px;
	padding: 0 48px;
	margin: 0 auto;
	overflow: hidden;
}
.row .row {
	margin: 0 -12px;
	width: auto;
	display: inline-block;
}
/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

.header {
	.row;
	.grid_10;
	height: 200px;
}
.menu {
	.row;
	.grid_10;
	height: 32px;
}
.main  section {
	.row;
	.grid_10;
	padding-top: 10px;
	padding-bottom: 10px;
}


/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
}



/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	
	
}



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	
}
